* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "outfit", sans-serif;
  background-color: lightsteelblue;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

.container {
  max-width: 360px;
  margin: 50px auto;
  padding: 30px;
  position: relative;
}

.card {
  background-color: white;
  border-radius: 25px;
  padding: 18px;
  padding-bottom: 180px;
}

.card img {
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
}

.text {
  position: absolute;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  font-weight: 700;
}

.paragraph {
  margin-top: 15px;
}


